<!DOCTYPE html>
<html>
<head>
  <title>IFrame Generator</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h1>IFrame Generator</h1>
  
  <form id="generator-form">
    <label for="iframe-url">URL:</label>
    <input type="text" id="iframe-url" required>    
    <button type="submit">Generate IFrame</button>
  </form>
  
  <div id="result-container">
    <h2>Generated IFrame:</h2>
    <div id="generated-iframe"></div>
  </div>
  
  <script src="js/script.js"></script>
</body>
</html>